/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
body {
  background-color: #00b3b3;
}

.site-header{
	background-color: #d9d9d9;
  text-align: center;
}

img {
 border: 10px solid #555;
}

.site-list{
   font-family: "Helvetica Neue"
}
p {
  color: #601f1f;
  font-style: italic;
}

.site-footer {
  background: #d9d9d9;
}
